.profile {
  .card {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;

    padding: 1rem 0;

    span.profile-data {
      margin: 0 1rem;
    }
    span.profile-data > * {
      border-top: 1px solid #ccc;
      padding: 5px 0;
    }
  }
}
