.auth {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 35rem;
    padding: 1.5rem;
    animation: slide-up 0.5s ease;
    background-color: #ffffff;
    h2 {
      color: var(--color-action);
      text-align: center;
    }
    form {
      input[type='text'],
      input[type='email'],
      input[type='password'] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #cacaca;
        border-bottom: 3px solid #cacaca;
        border-radius: 3px;
        outline: none;

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); // alpha gives nice shadow
          border-bottom: 3px solid #59dd85;
        }

        &:focus:invalid {
          border-bottom: 3px solid #e7651f;
        }
      }
      .links {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      p {
        text-align: center;
        margin: 1rem;
      }
    }
    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }

  // sliding style
  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 700px) {
}
