.home {
  min-height: 100vh;
  background-color: #4f97f5;

  & nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}
//  login or dashboard buttons
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 2rem;
    color: #fff;
  }
}

// info section
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .info-buttons a {
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  .info {
    flex-direction: column;
  }

  .info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
